.encabezado {
  background: black;
}

.cabecera {
  display: flex;
  justify-content: space-between;
}

.pagina1 {
  display: flex;
  background-color: #1d75de;
  color: white;
  flex-direction: column;
}

.imagen1 {
  margin: 10px;
  width: 150px;
}

.icono {
  width: 30px;
}

body {
  margin: 0px;
}

.pagina2 {
  display: flow-root;
}

h1 {
  margin: 0px;
}

.pie {
  background: black;
  color: antiquewhite;
}

.title2 {
  border: 1px solid green;
  background: green;
  margin: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
